# Firebase Configuration
FIREBASE_API_KEY=AIzaSyAGHejP0LBYqhea1P1RbKVkePlp_te143g
FIREBASE_AUTH_DOMAIN=dbmsproject-651dd.firebaseapp.com
FIREBASE_PROJECT_ID=dbmsproject-651dd
FIREBASE_STORAGE_BUCKET=dbmsproject-651dd.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=323623480798
FIREBASE_APP_ID=1:323623480798:web:0a4530b87250948294c14f
FIREBASE_MEASUREMENT_ID=G-ERB0GE66ZJ
